body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
}

.grad {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    height: 800px;
    background-image: linear-gradient(to bottom right, rgb(0, 255, 72), rgb(0, 213, 255));
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 400%;
    text-shadow: 4px 4px 8px rgb(0, 0, 0, 0.5);
    color: rgb(179, 131, 251);
    -webkit-text-stroke: 2px #454545;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 250%;
    text-shadow: 4px 4px 8px rgb(0, 0, 0, 0.5);
    color: rgb(255, 216, 108);
    -webkit-text-stroke: 2px #454545;
}

.self {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.self p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 125%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.img1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.img1 img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInFromBottom {
    to {
        opacity: 1;
        /* 在動畫結束時，將透明度設為1，使元素完全顯示 */
        transform: translateY(0);
        /* 在動畫結束時，將位移設為0，回到原本位置 */
    }
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0px 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
    color: #c4302b;
}

ul li:nth-child(2) a:hover .fab {
    color: #6441a5;
}

ul li:nth-child(3) a:hover .fab {
    color: #24292e;
}

.contact {
    justify-content: center;
    display: block;
}

.link {
    margin-bottom: -15px;
    margin-left: 40px;
    justify-content: center;
    display: flex;
}

.link a {
    margin-left: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 250%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.link h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 125%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}